<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.adds.mapper.FileMapper">
    <resultMap id="fileList" type="com.java.adds.entity.FileEntity">
        <id column="id" property="id"/>
        <result column="user_id" property="user_id"/>
        <result column="file_path" property="file_path"/>
        <result column="file_name" property="file_name"/>
        <result column="file_type" property="file_type"/>
    </resultMap>

    <insert id="uploadFile" useGeneratedKeys="true" keyProperty="id">
        insert into fileUpload(user_id,file_path,file_name,file_type) values(#{uid},#{fileName},#{filePath},#{fileType})
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            select  last_insert_id()
        </selectKey>
    </insert>
    
    <select id="getFiles" resultMap="fileList">
        select * from fileUpload where user_id=#{uid} and file_type=#{fileType};
    </select>

</mapper>